.mainBlock {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.setBlock {
    max-width: 100%;
    display: flex;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    max-height: 100%;
    overflow-wrap: break-word;
    justify-content: space-evenly;
    flex-direction: column;
    border: 3px solid blue;
    border-radius: 5%;
margin-bottom: 10px;
}

.inputBlock {
    height: 60%;
    width: 90%;
    border: 3px solid blue;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
}

.setButtonBlock {
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
}

.inputTextSpan {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    font-size: x-large;
    max-width: 100%;
}

.errorInput {
    background-color: #e08f92;
    font-size: xx-large;
    width: 100px;
}

.normalInput {
    background-color: white;
    font-size: xx-large;
    width: 100px;
}
