.mainApp {
        height: auto;
        width: 1000px;
        margin: 150px auto;
        padding: 10px;
        border-radius: 8px;
    }

.red {
    color: red;
    font-size: xx-large;
}

.showValue{
    color: black;
    font-size: xx-large;
}

input {
        width: 50px;

}
.mainContainer {
       display: inline-block;
        border: 1px solid black;
        box-shadow: 1px 1px 5px #000;
        height: 170px;
        width: 300px;
        margin: 150px 10px 10px 7em;
        padding: 10px;
        border-radius: 8px;
        background: aqua;
        text-align: center;
}

.mainContainerStop {
    display: inline-block;
    border: 1px solid black;
    box-shadow: 1px 1px 5px #000;
    height: 170px;
    width: 300px;
    margin: 150px 10px 10px 7em;
    padding: 10px;
    border-radius: 8px;
    background: palevioletred;
}
.showContainer {
        font-size: larger;
        text-align: center;
        border: 1px solid black;
        box-shadow: 1px 1px 5px #000;
        height: 50px;
        width: 170px;
        margin: 5px auto;
        padding: 18px;
        border-radius: 5px;
        background: white;
}
.buttonContainer{
        border: 1px solid black;
        box-shadow: 1px 1px 5px #000;
        height: 30px;
        width: 170px;
        margin: 12px auto;
        padding: 18px;
        text-align: center;
        border-radius: 5px;
}